services:
  mqtt_broker:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto_config:/mosquitto/config
    restart: unless-stopped

  broker_monitor:
    image: ghcr.io/gent1b/iot-broker-monitor:latest
    pull_policy: always
    env_file:
      - .env
    ports:
      - "8001:8001"
    depends_on:
      - mqtt_broker
    restart: unless-stopped
