global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'telegraf'
    static_configs:
      - targets: ['telegraf:9273']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'subscriber'
    static_configs:
      - targets: ['subscriber:8000']

  - job_name: 'broker_monitor'
    static_configs:
      - targets: ['broker_monitor:8001']
