services:
  publisher_device:
    image: ghcr.io/gent1b/iot-publisher:latest
    pull_policy: always
    env_file:
      - .env
    environment:
      BROKER: "${BROKER}"
      MQTT_TOPIC: "${MQTT_TOPIC}"
      DEVICES_PER_CONTAINER: "${DEVICES_PER_CONTAINER}"
      PUBLISH_INTERVAL: "${PUBLISH_INTERVAL}"
    deploy:
      replicas: 3
    restart: unless-stopped
